* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trajan Pro', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    overflow: hidden;
}

a {
    color: #333;
    text-decoration: none;
}

@import 'variables';
@import 'container';
@import 'logo';
@import 'slideshow';
@import 'description';